.successDiv {
  background-color: aquamarine;
  display: inline-flex;
  position: absolute;
  padding: 3rem 7rem;
  margin: 0 auto;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.failDiv {
  background-color: crimson;
  display: inline-flex;
  position: absolute;
  padding: 3rem 7rem;
  margin: 0 auto;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
