.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;

  height: 8vh;
  padding: 0 8rem;
  background-color: rgb(62, 100, 206);
}

.navbar a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.cart-div {
  display: grid;

  position: relative;
  height: 100%;
}

.cart {
  height: calc(100% - 1rem);
  align-self: center;
  filter: brightness(0) saturate(100%) invert(99%) sepia(99%) saturate(36%)
    hue-rotate(330deg) brightness(109%) contrast(99%);
}

.product-num {
  position: absolute;
  bottom: 0.4rem;
  right: -0.4rem;

  padding: 0 5px;
  height: 1.7rem;
  width: 1.7rem;
  background-color: red;
  border-radius: 0.2rem;
}

.product-num span {
  position: absolute;

  font-size: 1.5rem;
  font-weight: 600;
  transform: translate(10%, -15%);
}
