.card {
  padding: 2rem 1rem;
  grid-template-rows: 1fr;
  display: grid;
  background-color: aliceblue;
  box-shadow: 0 0 8px -4px;
  align-content: end;
}

.card h3 {
  grid-row: 2;
}

input {
  width: 100%;
}

.card img {
  align-self: center;
}

.add-to-cart {
  background-color: aquamarine;
  border: none;
  box-shadow: 0 0 8px -4px;
}
